# Dependencies
node_modules
learning-dinosaur/node_modules
learning-dinosaur-backend/node_modules

# Environment files
.env
.env.local
.env.production
learning-dinosaur/.env
learning-dinosaur/.env.local
learning-dinosaur/.env.production
learning-dinosaur-backend/.env
learning-dinosaur-backend/.env.local
learning-dinosaur-backend/.env.production

# Build outputs
dist
learning-dinosaur/dist
learning-dinosaur-backend/dist
dist-ssr

# Cache
.vite
learning-dinosaur/.vite

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.umi